<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="timeOfDay('yellow', 'morning')">Morning </div>

    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="timeOfDay('orange', 'Afternoon')">Afternoon </div>

    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="timeOfDay('#333', 'Evening')">Evening </div>
  </div>

  <h1 id="time"></h1>

</div>
